absl-py==2.1.0
appnope==0.1.3
asttokens==2.4.0
astunparse==1.6.3
backcall==0.2.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.1.4
contourpy==1.2.1
cryptography==42.0.5
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
exceptiongroup==1.1.3
executing==2.0.0
flatbuffers==24.3.25
fonttools==4.51.0
fsspec==2024.3.1
gast==0.5.4
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.62.2
h5py==3.11.0
happybase==1.2.0
idna==3.7
importlib-metadata==6.8.0
importlib_resources==6.4.0
ipykernel==6.25.2
ipython==8.16.1
jedi==0.19.1
joblib==1.4.0
jupyter_client==8.3.1
jupyter_core==5.3.2
keras==3.3.3
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==18.1.1
libretranslatepy==2.1.1
lxml==5.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.2.0
namex==0.0.8
nest-asyncio==1.5.8
nltk==3.8.1
numpy==1.26.4
oauthlib==3.2.2
opt-einsum==3.3.0
optree==0.11.0
packaging==23.2
pandas==2.2.1
paramiko==3.4.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.3.0
platformdirs==3.11.0
plotly==5.21.0
ply==3.11
prompt-toolkit==3.0.39
protobuf==4.25.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
Pygments==2.16.1
PyNaCl==1.5.0
pyparsing==3.1.2
python-dateutil==2.8.2
pytz==2024.1
pyzmq==25.1.1
regex==2024.4.16
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
scikeras==0.13.0
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
textblob==0.18.0.post0
threadpoolctl==3.4.0
thriftpy2==0.4.20
tornado==6.3.3
tqdm==4.66.2
traitlets==5.11.2
translate==3.6.1
translator==0.0.9
typing_extensions==4.8.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.8
Werkzeug==3.0.2
wordcloud==1.9.3
wrapt==1.14.1
zipp==3.17.0
